<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">

</head>
<body>
    <div class="form-container">
        <h2> Editar Usuario</h2>
        <form method="POST">
            <label for="nombre"> Nombre: </label><br>
            <input type="text" name="nombre" required><br><br>

            <label for="correo"> Correo:  </label><br>
            <input type="email" name="correo" required><br><br>

            <input type="submit" value="Actualizar">

        </form>
    </div>
</body>
</html>